.detailed-view{
    padding: 30px;
}

.detail-header{
    cursor: pointer;
    font-size: 2em;
    color: #7e7e7e;
    /* border-bottom: 1px solid #c4c4c4; */
}

.detail-body h2{
    margin: 20px 0 10px 0;
}

.detail-body-details{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.detail-body p{
    margin: 20px 0;
}

.detail-category{
    display: inline-block;
    background-color: #3650b623;
    padding: 10px 15px;
    border-radius: 25px;
    margin: 0 0 10px 0;
}

.detail-footer{
    margin-top: 20px;
    font-size: 1.4em;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.detail-download{
    border: none;
    padding: 10px 20px;
    border-radius: 9px;
    background-color: #364fb6;
    border: 1px solid transparent;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.detail-library{
    border: none;
    padding: 10px 20px;
    border-radius: 9px;
    background-color: #36a3b6;
    border: 1px solid transparent;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.detail-library-on{
    border: none;
    padding: 10px 20px;
    border-radius: 9px;
    border: 1px solid #36a3b6;
    background-color: transparent;
    color: #36a3b6;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
