.result{
    /* padding: 0 30px; */
}

.result-search-box{
    padding: 20px 0;   
    background: rgb(238, 238, 238);
    border-bottom: 1px solid #c4c4c4;
}

.result-search-box .search-box {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.result .content{
    display: flex;
    /* justify-content: space-between; */
}

