.result{
    /* padding: 0 30px; */
}

.result-search-box{
    padding: 20px 0;   
    background: rgb(238, 238, 238);
    border-bottom: 1px solid #c4c4c4;
}

.result-search-box .search-box {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}


.result .content{
    display: flex;
    justify-content: space-between;
}

.result .content .left-result{
    display: flex;
    flex: 2;
    justify-content: space-between;
    margin-right: 20px;
}

.result .content .right-result.show{
    visibility: visible;
    opacity: 1;
}

.result .content .right-result{   
    flex: 1;
    transition: visibility 0.5s, opacity 0.5s linear;
    visibility: hidden;
    opacity: 0;
}